<div class="list-group">
  <h5>Navigation</h5>

  <% if current_user.has_pending_application? %>
    <li class="list-group-item justify-content-between">
      Reviewing FC Application...
      <span class="badge badge-warning badge-pill">Pending</span>
    </li>
  <% else %>
    <%= link_to new_user_application_path, class: "list-group-item" do %>
      Apply for FC
    <% end %>
  <% end %>

  <%= link_to "Profile", profiles_path, class: "list-group-item" %>
  <%= link_to "Members", members_path, class: "list-group-item" %>
  <%= link_to "Statics", statics_path, class: "list-group-item" %>
  <%= link_to "Simulations", simulations_path, class: "list-group-item" %>

  <% if can? :manage, Notice %>
    <%= link_to notices_path, class: "list-group-item justify-content-between" do %>
      Notices
      <span class="badge badge-danger badge-pill">Admin</span>
    <% end %>
  <% end %>

  <% if can? :manage, RaidContent %>
    <%= link_to raid_contents_path, class: "list-group-item justify-content-between" do %>
      Raid Content
      <span class="badge badge-danger badge-pill">Admin</span>
    <% end %>
  <% end %>

  <% if can? :mange, ApplicationQuestion %>
    <%= link_to application_questions_path, class: "list-group-item justify-content-between" do %>
      Application Content
      <span class="badge badge-danger badge-pill">Admin</span>
    <% end %>
  <% end %>

  <% if can? :manage, Role %>
    <%= link_to roles_path, class: "list-group-item justify-content-between" do %>
      Manage Roles
      <span class="badge badge-danger badge-pill">Admin</span>
    <% end %>
  <% end %>
</div>
