<div class="container">

  <div class="row mt-5">
    <div class="col-12">

      <div class="card">
        <h3 class="card-header">Profile Details</h3>
        <div class="card-block">
          <%= form_for current_user, url: profiles_path do |form| %>
            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :email %>
              <%= form.text_field :email, type: 'email', class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :timezone %>
              <%= form.select :timezone, timezone_options, {}, class: 'form-control' %>
            </div>

            <%= form.submit value: "Update", class: 'btn btn-outline-primary' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col col-12">
      <h2>FFXIV Character Details</h2>

      <div class="row">
        <% @characters.each do |character| %>
          <div class="col-sm-4 mt-2">
            <div class="card">
              <%= image_tag "default-avatar.png", class: "card-img-top img-fluid" %>

              <div class="card-block">
                <h4 class="card-title"><%= character.name %></h4>
                <p class="card-text"></p>
                <%= link_to "Edit", edit_character_path(character), class: "card-link" %>
              </div>
              <ul class="list-group list-group-flush">
                <% character.character_jobs.each do |character_job| %>
                  <li class="list-group-item"><%= "#{character_job.job.name} Lv.#{character_job.level}"%></li>
                <% end %>
              </ul>
              <div class="card-footer">
                <small class="text-muted">
                  <%= "Last updated #{time_ago_in_words(character.updated_at)} ago" %>
                </small>
              </div>
            </div>
          </div>
        <% end %>

        <!-- New character panel -->
        <div class="col-sm-4 mt-2">
          <%= link_to "Add new character", new_character_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>

      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">

    </div>
  </div>

</div>
