<div class="container">

  <div class="row mt-5">
    <div class="col col-6">
      <h2>Profile Details</h2>

      <%= form_for current_user, url: profiles_path do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :timezone %>
          <%= form.select :timezone, timezone_options, {}, class: 'form-control' %>
        </div>

        <%= form.submit value: "Update", class: 'btn btn-outline-primary' %>
      <% end %>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col col-12">
      <h2>FFXIV Character Details</h2>

      <div class="card-columns">
        <% @characters.each do |character| %>
          <div class="card">
            <!-- User avatar - perhaps pull from lodestone and cache it -->
            <%= image_tag "alexander-11-savage.jpg", class: "card-img-top img-fluid" %>

            <div class="card-block">
              <h4 class="card-title"><%= character.name %></h4>
              <p class="card-text"><%= "general class info" %></p>
              <a href="#" class="card-link">Edit Details</a>
              <a href="#" class="card-link">Preview Public View</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-footer">
              <small class="text-muted">
                <%= "Last updated #{time_ago_in_words(character.updated_at)} ago" %>
              </small>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <%= form_for current_user.characters.build do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <%= form.submit value: "Add Character", class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>

</div>
