<%= form_for :session, url: session_path, class: "form" do |form| %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

  <div class="other-links">
    <sub><%= link_to t(".forgot_password"), new_password_path %></sub>
  </div>
<% end %>
