<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pt-5">Notices</h2>
      <table class="table">
        <thead class="thead-inverse">
            <th>Posted At</th>
            <th>Title</th>
            <th>Content</th>
            <th>Posted By</th>
            <th>Published</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @notices.each do |notice| %>
            <tr>
                <td><%= notice.created_at %></td>
                <td><%= notice.title %></td>
                <td><%= notice.content %></td>
                <td><%= notice.user.name || "(#{notice.user.email})" %></td>
                <td><%= notice.publish? ? "Yes" : "No" %></td>
                <td>
                  <%= link_to "Edit", edit_notice_path(notice), class: "btn btn-outline-warning" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_notice_path, class: "btn btn-outline-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>

    </div>
  </div>
</div>
