<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h2>Creating Notice</h2>

      <%= form_for @notice do |form| %>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: 'form-control' %>
        </div>

        <div class="checkbox">
          <label>
            <%= form.check_box :publish %> Publish
          </label>
        </div>

        <div class="form-actions">
          <%= form.submit class: 'btn btn-primary' %>
          <%= link_to "Back", notices_path, class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
