<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="media pt-5 pb-5">
        <div class="media-left">
          <a href="#">
            <%= image_tag "ffxiv_twi.png", class: "media-object" %>
          </a>
        </div>

        <div class="media-body pl-3">
          <h4 class="media-heading">
            <%= @notice.title %>
            <small>by <%= @notice.user.name || "Anonymous" %> on the <%= @notice.created_at %></small>
          </h4>

          <p><%= @notice.content %></p>
        </div>
      </div>

      <%= link_to "Back", @referrer, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
