<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pt-5">Notices</h2>

      <% @notices.each do |notice| %>
        <div class="media pt-5">
          <div class="media-left">
            <a href="#">
              <%= image_tag "ffxiv_twi.png", class: "media-object" %>
            </a>
          </div>

          <div class="media-body pl-3">
            <h4 class="media-heading">
              <%= notice.title %>
              <small>by <%= notice.user.name || "Anonymous" %> on the <%= notice.created_at %></small>
            </h4>

            <p>
              <%= truncate(notice.content, length: 150, omission: "...") do %>
                <%= link_to "read more", notice_path(notice) %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <%= paginate @notices %>
    </div>
  </div>
</div>
