<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5">Raid Contents</h2>
      <table class="table">
        <thead class="thead-inverse">
            <th>Name</th>
            <th>Patch</th>
            <th>Released At</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @raid_contents.each do |raid_content| %>
            <tr>
                <td><%= raid_content.name %></td>
                <td><%= raid_content.patch %></td>
                <td><%= raid_content.released_at %></td>
                <td>
                  <%= link_to "Edit", edit_raid_content_path(raid_content), class: "btn btn-outline-warning" %>
                  <%= link_to "Remove", raid_content_path(raid_content), method: :delete, class: "btn btn-outline-danger" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Add", new_raid_content_path, class: "btn btn-outline-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>

    </div>
  </div>
</div>
