<div class="container">
  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#active" role="tab">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#inactive" role="tab">Inactive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#rejected" role="tab">Rejected</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#stateless" role="tab">Stateless</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="active" role="tabpanel">
          <h2 class="pt-5">Active Users</h2>
          <%= render partial: "users", locals: { users: @active_users } %>
        </div>
        <div class="tab-pane" id="inactive" role="tabpanel">
          <h2 class="pt-5">Inactive Users</h2>
          <%= render partial: "users", locals: { users: @inactive_users } %>
        </div>
        <div class="tab-pane" id="rejected" role="tabpanel">
          <h2 class="pt-5">Rejected Users</h2>
          <%= render partial: "users", locals: { users: @rejected_users } %>
        </div>
        <div class="tab-pane" id="stateless" role="tabpanel">
          <h2 class="pt-5">Stateless Users</h2>
          <%= render partial: "users", locals: { users: @stateless_users } %>
        </div>
      </div>

      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
