<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-inverse">
            <th>Rank</th>
            <th>Question</th>
            <th>Active?</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @application_questions.each do |question| %>
            <tr>
                <td><%= question.rank %></td>
                <td><%= question.content %></td>
                <td><%= question.active? ? "Active" : "Inactive" %></td>
                <td>
                  <%= link_to "Edit", edit_application_question_path(question) %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_application_question_path, class: "btn btn-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-default' %>

    </div>
  </div>
</div>
