<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-6">
      <h2>Editing Static</h2>

      <%= form_for @static do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <%= form.submit class: 'btn btn-outline-primary' %>
        <%= link_to "Back", statics_path, class: 'btn btn-secondary' %>

      <% end %>
    </div>
  </div>
</div>
