<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5">Statics</h2>
      <table class="table">
        <thead class="thead-default">
            <th>Name</th>
            <th>Members</th>
            <% if [Static, StaticCharacter, StaticProgression].any? { |klass| can?(:manage, klass) } %>
              <th>Actions</th>
            <% end %>
        </thead>

        <tbody>
          <% @statics.each do |static| %>
            <tr>
                <td><%= static.name %></td>
                <td>
                  <% if static.characters.any? %>
                    <% static.characters.each do |character| %>
                      <p><%= character.name %></p>
                    <% end %>
                  <% else %>
                    None
                  <% end %>
                </td>
                <% if [Static, StaticCharacter, StaticProgression].any? { |klass| can?(:manage, klass) } %>
                  <td>
                    <% if can? :manage, static %>
                      <%= link_to "Edit", edit_static_path(static), class: "btn btn-outline-warning" %>
                    <% end %>

                    <% if can? :manage, StaticCharacter %>
                      <%= link_to "Manage Members", static_static_characters_path(static), class: "btn btn-outline-info" %>
                    <% end %>

                    <% if can? :manage, StaticProgression %>
                      <%= link_to "Manage Progression", static_static_progressions_path(static), class: "btn btn-outline-info" %>
                    <% end %>
                  </td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_static_path, class: "btn btn-outline-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>

    </div>
  </div>
</div>
