<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5">Statics</h2>
      <table class="table">
        <thead class="thead-default">
            <th>Name</th>
            <th>Members</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @statics.each do |static| %>
            <tr>
                <td><%= static.name %></td>
                <td>
                  <% if static.members.any? %>
                    <% static.static_members.each do |static_member| %>
                      <p><%= static_member.user.name %></p>
                    <% end %>
                  <% else %>
                    None
                  <% end %>
                </td>
                <td>
                  <%= link_to "Edit", edit_static_path(static), class: "btn btn-outline-warning" %>
                  <%= link_to "Manage Members", static_static_members_path(static), class: "btn btn-outline-info" %>
                  <%= link_to "Manage Progression", static_static_progressions_path(static), class: "btn btn-outline-info" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_static_path, class: "btn btn-outline-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>

    </div>
  </div>
</div>
