<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pt-5">Characters</h2>

      <table class="table">
        <thead class="thead-default">
            <th>Name</th>
            <th>Role</th>
            <th>Account Registered</th>
            <th>Static(s)</th>
            <th></th>
        </thead>

        <tbody>
          <% @characters.each do |character| %>
            <tr>
              <td><%= character.name %></td>
              <td><%= character.role %></td>
              <td><%= character.user.present? ? "Yes" : "No" %></td>
              <td><%= character.statics.pluck(:name).join(", ") %></td>
              <td>
                <%= link_to 'Edit', edit_admin_character_path(character) if current_user.role.admin? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if current_user.role.admin? %>
      <div class="col-md-6">
        <%= form_for Character.new, url: unassigned_characters_path, class: "" do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <%= form.submit "Add", class: 'btn btn-outline-primary' %>
          <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
