<div class="container-splash">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">

          <div class="col-12">
            <div class="splash-header">
              <%= embedded_svg 'splash_logo.svg', class: 'splash-logo' %>
            </div>
          </div>

          <div class="col-12">
            <div class="splash-body">
              <h1 class="text-center">Last Bastion</h1>
              <h4 class="text-center">An end-game Free Company on Behemoth server</h4>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-stretch">
  <div class="container">
    <div class="container-stretch-body row">
      <h1 class="display-4">Recent Notices</h1>

      <div class="col-12">
        <% @notices.each do |notice| %>
            <div class="media pt-5">
              <div class="media-left">
                <a href="#">
                  <%= image_tag "ffxiv_twi.png", class: "media-object" %>
                </a>
              </div>

              <div class="media-body pl-3">
                <h4 class="media-heading">
                  <%= notice.title %>
                  <small>by <%= notice.user.email %> on the <%= notice.created_at %></small>
                </h4>

                <p><%= notice.content %></p>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="container-stretch">
  <div class="container">
    <div class="container-stretch-body row">
      <h1 class="display-4">
        Progression
        <small class="text-muted">Alexander: The Creator (Savage)</small>
      </h1>

      <div class="row">
        <% 4.times do %>
          <div class="col-6 pb-5">
            <div class="card">
              <%= image_tag "alexander-12-savage.jpg", class: "card-img-top", alt: "a12s" %>
              <div class="card-block">
                <h4 class="card-title">A12S</h4>
                <p class="card-text">Cleared 01/01/16</p>
                <a href="#" class="btn btn-outline-primary disabled">View Parses</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="container-stretch">
  <div class="container">
  </div>
</div>
