<div class="container-splash">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-12">
            <div class="splash-header">
              <%= embedded_svg 'splash_logo.svg', class: 'splash-logo' %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="splash-body">
              <h1 class="text-center">Last Bastion</h1>
              <h4 class="text-center">An end-game Free Company on Behemoth server</h4>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Recent Notices</h1>
    </div>

    <div class="col-md-12">
      <% @notices.each do |notice| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="" alt="...">
              </a>
            </div>

            <div class="media-body">
              <h4 class="media-heading">
                <%= notice.title %>
                <small>by <%= notice.user.email %> on the <%= notice.created_at %></small>
              </h4>

              <p><%= notice.content %></p>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Progression</h1>
      <h2>Alexander: The Creator (Savage)</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="" alt="">
        <div class="caption">
          <h3>A12S</h3>
          <p>01/01/16</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">View Parses</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="" alt="">
        <div class="caption">
          <h3>A11S</h3>
          <p>01/01/16</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">View Parses</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="" alt="">
        <div class="caption">
          <h3>A10S</h3>
          <p>01/01/16</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">View Parses</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="" alt="">
        <div class="caption">
          <h3>A9S</h3>
          <p>01/01/16</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">View Parses</a>
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
