<div class="container">
  <div class="row">
    <div class="col-12">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#pending" role="tab">Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#approved" role="tab">Approved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#rejected" role="tab">Rejected</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#stateless" role="tab">Stateless</a>
        </li>
      </ul>

      <div class="tab-content pb-5">
        <div class="tab-pane active" id="pending" role="tabpanel">
          <h2 class="pt-5">Pending Applications</h2>
          <%= render partial: "applications", locals: { applications: @pending_applications } %>
        </div>
        <div class="tab-pane" id="approved" role="tabpanel">
          <h2 class="pt-5">Approved Applications</h2>
          <%= render partial: "applications", locals: { applications: @approved_applications } %>
        </div>
        <div class="tab-pane" id="rejected" role="tabpanel">
          <h2 class="pt-5">Rejected Applications</h2>
          <%= render partial: "applications", locals: { applications: @rejected_applications } %>
        </div>
        <div class="tab-pane" id="stateless" role="tabpanel">
          <h2 class="pt-5">Stateless Applications</h2>
          <%= render partial: "applications", locals: { applications: @stateless_applications } %>
        </div>
      </div>

      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
