<nav class="navbar navbar-toggleable-md navbar-inverse bg-header">
  <div class="container">

    <nav class="navbar navbar-light">
      <%= link_to "Last Bastion", root_path, class: "navbar-brand" %>
    </nav>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <div class="">
      <ul class="navbar-nav">
        <% if signed_in? %>
          <li class="nav-item">
            <%= link_to dashboard_index_path, class: "nav-link" do %>
              <i class="fa fa-columns pr-1" aria-hidden="true"></i>
              Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to sign_out_path, method: :delete, class: "nav-link" do %>
              <i class="fa fa-user-circle-o pr-1" aria-hidden="true"></i>
              Sign out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', sign_in_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Register', sign_up_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
