<!DOCTYPE html>
<html>
  <head>
    <title>FcWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="splash-body">

    <nav class="navbar splash-nav">
      <div class="container">
        <a class="navbar-brand" href="#">FC Website</a>

        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li>Signed in as: <%= current_user.email %></li>
            <li><%= button_to 'Sign out', sign_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path %></li>
            <li><%= link_to 'Register', sign_up_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="flash">
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
