<!DOCTYPE html>
<html>
  <head>
    <title>Last Bastion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <%= link_to "Last Bastion", root_path, class: "navbar-brand" %>

        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li>
              <%= link_to 'Apply for FC', new_user_application_path %>
            </li>
            <li>
              <%= link_to 'Dashboard', dashboard_index_path %>
            </li>
            <li>
              <%= link_to 'Sign out', sign_out_path, method: :delete %>
            </li>
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path %></li>
            <li><%= link_to 'Register', sign_up_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= flash_message %>
        </div>
      </div>
    </div>


    <%= yield %>

  </body>

</html>
