<!DOCTYPE html>
<html>
  <head>
    <title>Last Bastion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <%= render partial: "layouts/header" %>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= flash_message %>
        </div>
      </div>
    </div>

    <%= yield %>

    <%= render partial: "layouts/footer" %>
  </body>

</html>
